<button class="btn btn-primary" click="myFunction()" id="start"> click on quadrant II to satart</button>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
          <button  class="button btn btn-default" (click)="QuadrantClick(1,'but1')"  id ="but1"></button>
        </div>
        <div class="col-lg-4">
            <button  class="button btn btn-default" (click)="QuadrantClick(2,'but2')"  id="but2"></button>
        </div>
    </div>
   <div class="row">
        <div class="col-lg-4">
            <button  class="button btn btn-default" (click)="QuadrantClick(3,'but3')"  id="but3"></button>
        </div>
        <div class="col-lg-4">
            <button  class="button btn btn-default" (click)="QuadrantClick(4,'but4')"  id="but4"></button>
        </div>
  </div>
  </div>
   <h2 id="score">Score: {{score}}</h2>